*{
	margin: 0;
	padding: 0;
}

body{
	font-family: arial, sans-serif; 
}

header{
	background-color:  #ff9999;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

img{
	width: 100%
}

header a{
	color: white;
}

nav li{
	list-style-type: none;
	padding-bottom: 0.5em;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}

#wrapper{

}

h1, h2{
	font-family: 'Arvo', serif;
}

p{
	margin: 25px;
}

h3{
	margin: 25px;
}

li{
	margin-left: 25px;
	font-family: 'Copse', serif;
}

footer{
	text-align: center;
}
@media (min-width:480px) {
	nav li{
		display: inline;
	}
}